body {
    background: linear-gradient(to right, #4568dc, #b06ab3);
    color: #D7D7EF;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    align-items: center;
}
